.main_wrapper {
    display: grid;
    grid-template-rows: 20vh auto 1fr;
    align-items: center;
    justify-items: center;
    gap: clamp(8px, 2vh, 18px);
}
.main_wrapper h1 {
    font-size: 1.5rem;
    text-align: center;
}

.img_wrapper {
    align-self: center;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}
.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.details_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
}
.details_item_title {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    color: var(--neutral);
}
.details_item_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}
.btnGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
}
.btnGroup img {
    cursor: pointer;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    margin-top: auto;
}
.footer_wrapper p {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .img_wrapper {
        width: 40%;
    }
}

@media (min-width: 1000px) {
    .img_wrapper {
        width: 30%;
    }
}
