:root {
    --background: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);
    --foreground: #ededed;
    --special-bg: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);

    --primary: #5fcdaa;

    --secondary-0: #9fbaff;
    --secondary-1: #000000;
    --secondary-2: #1967d2;
    --secondary-3: #f9ab00;

    --neutral: rgba(237, 237, 237, 0.2);

    --large: 2rem;
    --medium: 1.5rem;
    --small: 1rem;
    --smallest: 0.5rem;

    --vh: 1vh;
}

html,
body {
    width: min(100vw, 100%);
    min-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--foreground);
    font-family: var(--font-geist-outfit), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
}

h1,
h2,
h3 {
    font-family: var(--font-geist-space-grotesk), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2rem, 40px);
    line-height: 140%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
    .container {
        height: -webkit-fill-available;
    }
}

.page {
    width: 100%;
    max-height: calc(var(--vh, 1vh) * 100);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(8px, 1rem, 20px);
    align-items: center;
    padding-bottom: 4rem;
}
/* @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .page {
        padding-bottom: env(safe-area-inset-bottom, 4rem);
    }
} */

.page span {
    color: var(--primary);
}

.header {
    flex: 0 0 auto;
    width: 100%;
    min-height: 4rem;
}

.main {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    gap: clamp(8px, 1rem, 20px);
    align-items: center;
}

.main h1 {
    width: 16.75rem;
}

.footer {
    flex: 0 0 auto;
    max-height: 20vh;
    display: flex;
    width: 100%;
    align-items: center;
}

@media (min-width: 480px) {
    html,
    body {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    html,
    body {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    html,
    body {
        font-size: 20px;
    }
}

* {
    outline: 1px solid red;
}
