:root {
    --background: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);
    --foreground: #ededed;
    --special-bg: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);

    --primary: #5fcdaa;

    --secondary-0: #9fbaff;
    --secondary-1: #000000;
    --secondary-2: #1967d2;
    --secondary-3: #f9ab00;
    --secondary-4: #010718;

    --neutral: rgba(237, 237, 237, 0.2);

    --large: 2rem;
    --medium: 1.5rem;
    --small: 1rem;
    --smallest: 0.5rem;

    --width-gap-large: clamp(12px, 2vw, 24px);
    --width-gap-medium: clamp(8px, 1.5vw, 18px);
    --width-gap-small: clamp(6px, 1vw, 12px);
    --width-gap-smaller: clamp(4px, 0.5vw, 8px);

    --height-gap-large: clamp(12px, 2dvh, 24px);
    --height-gap-medium: clamp(8px, 1.5dvh, 18px);
    --height-gap-small: clamp(6px, 1dvh, 12px);
    --height-gap-smaller: clamp(4px, 0.5dvh, 8px);

    --fz-h1: clamp(18px, 2.5vw, 32px);
    --fz-h2: clamp(16px, 2vw, 24px);
    --fz-text: clamp(14px, 1.5vw, 18px);
    --fz-text-small: clamp(12px, 1vw, 16px);

    --vh: 1vh;
}

html,
body {
    width: min(100svh, 100%);
    min-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--foreground);
    font-family: var(--font-outfit), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
    font-size: var(--fz-text);
}

h1,
h2,
h3 {
    font-family: var(--font-space-grotesk), sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
h1 {
    font-size: var(--fz-h1);
}
h2,
h3 {
    font-size: var(--fz-h2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
    .container {
        height: -webkit-fill-available;
    }
}

.content {
    display: grid;
    grid-template-rows: 10% 1fr 18%;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.accent {
    color: var(--primary);
}

/* * {
    outline: 1px solid red;
} */
