:root {
    --background: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);
    --foreground: #ededed;
    --special-bg: linear-gradient(180deg, #000718 50%, #5fcdaa 100%);

    --primary: #5fcdaa;

    --secondary-0: #9fbaff;
    --secondary-1: #000000;
    --secondary-2: #1967d2;
    --secondary-3: #f9ab00;

    --neutral: rgba(237, 237, 237, 0.2);

    --large: 2rem;
    --medium: 1.5rem;
    --small: 1rem;
    --smallest: 0.5rem;
}

html,
body {
    width: min(100vw, 100%);
    max-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
}

body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--foreground);
    font-family: var(--font-geist-outfit), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
}
body[data-page="special"] {
    background-image: var(--special-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3 {
    font-family: var(--font-geist-space-grotesk), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
    .container {
        height: -webkit-fill-available;
    }
}

.page {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.page span {
    color: var(--primary);
}

.header {
    width: 100%;
    min-height: 2rem;
}

.main {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: start;
    padding-bottom: 9.5rem;
}

.main h1 {
    width: 16.75rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 6rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: 4rem;
    padding: 0 2rem;
}

@media (min-width: 480px) {
    html,
    body {
        font-size: 16px;
    }
    h1,
    h2,
    h3 {
        font-size: 2.2rem;
        line-height: 130%;
    }
    .main {
        padding-bottom: 10rem;
    }

    .footer {
        height: 7rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    html,
    body {
        font-size: 18px;
    }
    h1,
    h2,
    h3 {
        font-size: 2.5rem;
        line-height: 120%;
    }
    .main {
        padding-bottom: 7rem;
    }
    .footer {
        height: 6rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1000px) {
    html,
    body {
        font-size: 20px;
    }
}
