.arrow_back {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff38;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    filter: blur(1px);
}

.arrow_back > svg {
    width: 100%;
    height: 100%;
}
