.arrow_back {
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: #ffffff2a;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.arrow_back > svg {
    width: 100%;
    height: 100%;
}
