.main_wrapper {
    display: grid;
    grid-template-rows: auto 25vh auto 1fr;
    align-items: flex-end;
    justify-items: center;
    width: 100%;
    height: 100%;
    gap: clamp(8px, 1rem, 20px);
}
.main_wrapper h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
.img_wrapper {
    align-self: center;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}
.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: 3rem;
}
.footer_wrapper p {
    font-size: 1rem;
}

.text {
    font-family: var(--font-outfit);
    font-size: 1.1rem;
    outline: none;
    box-shadow: none;
}
