.main_wrapper {
    display: grid;
    grid-template-rows: auto 25vh auto 1fr;
    align-items: flex-end;
    justify-items: center;
    height: 100%;
    gap: clamp(8px, 1rem, 20px);
}
.main_wrapper h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
.img_wrapper {
    align-self: center;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}
.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: 3rem;
}
.footer_wrapper p {
    font-size: 1rem;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    gap: 1rem;
    max-width: 360px;
    width: 100%;
    height: 45px;
    background: var(--secondary-4);
    color: var(--foreground);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    transition: background 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.button:focus,
.button:focus-visible,
.button:active {
    outline: none !important;
    box-shadow: none !important;
}

.text {
    font-family: var(--font-outfit);
    font-size: 1.1rem;
    outline: none;
    box-shadow: none;
}

@media (min-width: 480px) {
    .button {
        height: 50px;
    }
}

@media (min-width: 768px) {
    .button {
        height: 55px;
    }
}

@media (min-width: 1000px) {
    .button {
        height: 65px;
    }
}

@media (min-width: 768px) {
    .img_wrapper {
        width: 40%;
    }
}

@media (min-width: 1000px) {
    .img_wrapper {
        width: 30%;
    }
}
