.main_wrapper {
    display: grid;
    grid-template-rows: auto 1fr 25vh;
    align-items: center;
    justify-items: center;
    gap: clamp(8px, 1rem, 20px);
}
.main_wrapper h1 {
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
}
.main_wrapper p {
    width: 100%;
    text-align: center;
}
.img_wrapper {
    align-self: center;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}
.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_wrapper {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn_wrapper p {
    text-align: center;
}
