.main_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--height-gap-small);
}
.main_wrapper h1 {
    font-size: var(--fz-h1);
    text-align: center;
}
.footer_top {
    align-items: flex-start;
}
.footer_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--height-gap-small);
    justify-content: space-between;
    align-items: center;
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.flex_item {
    text-align: center;
    padding: 0.2rem 0.5rem;
    border: 0.5px solid rgba(73, 80, 87, 0.5);
    border-radius: 5px;
    font-size: var(--fz-text-small);
}

.download_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--height-gap-small) var(--width-gap-medium);
    border: 0.5px solid rgba(73, 80, 87, 0.5);
    border-radius: 5px;
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.banner {
    padding: 0.2rem;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    font-size: var(--fz-text-small);
}
.btn_wrapper {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.btn_wrapper p {
    text-align: center;
}
